= simple_form_for(@company) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, label: "Nombre"
    = f.input :description, label: "Descripción"
    = f.input :slogan, label: "Slogan"
    = f.input :logo, label: "Logotipo"
    %h3
      Clave
      = @company.clave
    -#= f.input :clave
  .form-actions

    = f.button :submit, "Actualizar Empresa"
