!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Ofert On'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Ofert On'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          =link_to "Inicio", root_path, class: "navbar-brand"
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => "#"} ¿C&oacute;mo funciona?
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Dropdown
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} Action
                %li
                  %a{:href => "#"} Another action
                %li
                  %a{:href => "#"} Something else here
                %li.divider{:role => "separator"}
                %li.dropdown-header Nav header
                %li
                  %a{:href => "#"} Separated link
                %li
                  %a{:href => "#"} One more separated link
          %ul.nav.navbar-nav.navbar-right
            %li
              =link_to new_user_session_path do
                %span.glyphicon.glyphicon-user
                Entrar como cliente
            %li
              =link_to new_company_session_path do
                %span.glyphicon.glyphicon-briefcase
                Entrar como empresa

    -#%main{:role => "main"}
    = render 'layouts/messages'
    = yield
    .container
      %hr/
      / Footer
      %footer
        .row
          .col-lg-12
            %p Copyright © OfertOn 2015

-#%header
      -#.right
      -#= render 'layouts/navigation_links'
